 .todo-list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
     cursor: pointer;
}
.todo-list-item button {
    margin-left: 0.75rem;
}

.done {
    text-decoration: line-through;
}

.important .todo-list-item-label{
    font-weight: bold;
    color: steelblue;
}